.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
#img-container{
  height: 100px!important;
  width: 100px!important;
}
#missing_person_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
