{% extends 'files/layout.html' %}

{% block content %}

<div class="col-md-12 mt-4">
  <form method="post" id="MissingPersonForm" data-municipios-url="{% url 'ajax_load_municipios' %}" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-6">
        <div class="row mb-3">
          <div class="col-5">
            {{form.full_name}}
          </div>
          <div class="col-2">
            {{form.age}}
          </div>
          <div class="col-3">
            {{form.gender}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2">
            {{form.height}}
          </div>
          <div class="col-3">
            {{form.skin_color}}
          </div>
          <div class="col-3">
            {{form.eye_color}}
          </div>
          <div class="col-4">
            {{form.hair_color}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{form.unique_characteristics}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{form.additional_info}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{form.person_image}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row mb-3">
          <div class="col-4">
            {{form.last_seen_in}}
          </div>
          <div class="col-5">
            {{form.date_and_time}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{form.state}}
          </div>
          <div class="col-5">
            {{form.municipio}}
          </div>
        </div>
      </div>
    </div>

    <input class="btn btn-success login_btn" type="submit" value="Resgistrar persona">
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_state").change(function() {
    var url = $("#MissingPersonForm").attr("data-municipios-url"); // get the url of the `load_cities` view
    var statesId = $(this).val(); // get the selected country ID from the HTML input

    $.ajax({ // initialize an AJAX request
      url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'state': stateId // add the country id to the GET parameters
      },
      success: function(data) { // `data` is the return of the `load_cities` view function
        $("#id_municipio").html(data); // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}
